<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>欢迎登录学籍管理系统</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../assets/css/form/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="../assets/css/form/AdminLTE.min.css">
  <link rel="stylesheet" href="../assets/css/form/dataTables.bootstrap.css">
  <link rel="stylesheet" href="../assets/css/form/_all-skins.min.css">
  <link rel="stylesheet" href="../assets/css/form/blue.css">
  <link rel="stylesheet" href="../assets/css/page/total.css">
  <link rel="stylesheet" href="../assets/css/page/admin.css">
</head>
<body class="hold-transition skin-blue layout-boxed sidebar-mini">
  <div class="wrapper">
    <header class="main-header">
      <!-- Logo -->
      <a href="/introduction" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>学籍管理系统</b></span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown messages-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-envelope-o"></i>
                <span class="label label-success">4</span>
              </a>
              <ul class="dropdown-menu">
                <li class="header">You have 4 messages</li>
                <li>
                  <!-- inner menu: contains the actual data -->
                  <ul class="menu">
                    <li th:each="trouble,troubleStat:${tlist}" th:if="${troubleStat.index} lt 4" th:object="${trouble}">
                      <a href="#">
                        <div class="pull-left">
                          <span th:text="${trouble.trouble_title}">hhhhh</span>
                        </div>
                        <h4>
                          Reviewers
                          <small><i class="fa fa-clock-o"></i> 2 days</small>
                        </h4>
                        <p>Why not buy a new awesome theme?</p>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="footer"><a href="#">See All Messages</a></li>
              </ul>
            </li>
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="../assets/img/customer/00000000002.jpg" class="user-image" alt="User Image">
                <span class="hidden-xs">Alexander Pierce</span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <img src="../assets/img/customer/00000000002.jpg" class="img-circle" alt="User Image">
                  <p>
                    Alexander Pierce
                  </p>
                  <small>Member since Nov. 2012</small>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                    <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <aside class="main-sidebar">
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <img src="../assets/img/customer/00000000002.jpg" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p>Alexander Pierce</p>
            <a href="javascript:void(0);"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>
        <!-- search form -->
        <div class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                  </button>
                </span>
          </div>
        </div>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="header">MAIN NAVIGATION</li>
          <li class="treeview active">
            <a href="javascript:void(0);">
              <i class="fa fa-dashboard"></i> <span>学籍信息管理</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
              <ul class="treeview-menu">
                <li id="initialPage" class="active"><a href="javascript:void(0);"><i class="fa fa-circle-o"></i>学籍信息查询</a></li>
                <li id="xuejiInput"><a href="javascript:void(0);"><i class="fa fa-circle-o"></i>学籍信息导入</a></li>
                <li><a href="/statistics"><i class="fa fa-circle-o"></i>学籍信息统计</a></li>
              </ul>
            </a>
          </li>
          <li class="treeview">
            <a href="javascript:void(0);">
              <i class="fa fa-files-o"></i>
              <span>成绩信息管理</span>
            </a>
            <ul class="treeview-menu">
              <li id="classUpload"><a href="javascript:void(0);"><i class="fa fa-circle-o"></i>成绩信息导入</a></li>
              <li id="classManage"><a href="/classinfoOpretion"><i class="fa fa-circle-o"></i>成绩信息管理</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="javascript:void(0);">
              <i class="fa fa-files-o"></i>
              <span>奖惩操作</span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/awardinfo"><i class="fa fa-circle-o"></i>奖励信息审核</a></li>
              <li id="Addpunish"><a href="javascript:void(0);"><i class="fa fa-circle-o"></i>惩罚信息添加</a></li>
            </ul>
          </li>
          <li class="treeview" id="accountDefault">
            <a href="javascript:void(0);">
              <i class="fa fa-files-o"></i>
              <span>账号信息维护</span>
            </a>
          </li>
      </section>
      <!-- /.sidebar -->
    </aside>
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header" id="ba">
        <h1>
          <span id="ei">学籍信息管理</span>
          <small>管理与查看学生学籍信息</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="/login">登录</a></li>
          <li><a href="#"><i class="fa fa-dashboard"></i>学籍信息管理</a></li>
        </ol>
      </section>
      <div class="content">
        <!--     往这里添加 主要内容-->
        <div id="xuejiSearch">
          <form class="input-group" action="/findStudentById">
            <input type="text" class="form-control" placeholder="请输入学生学号，点击搜索按钮" id="st_id" name="st_id">
            <span class="input-group-btn">
              <button id="search_btn2" class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
          </form>
          <div class="box-body" id="main1">
            <table id="AllStudent" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>学号</th>
                <th>学院</th>
                <th>专业</th>
                <th>班级</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
                <tr th:each="student:${slist}" th:object="${student}">
                  <td th:text="*{st_id}" class="center"></td>
                  <td th:text="*{st_xueYuan}"></td>
                  <td th:text="*{st_zhuanye}"></td>
                  <td th:text="*{st_nianji}+'-'+*{st_class}"></td>
                  <td>
                    <a th:href="@{'/look?st_id='+*{st_id}}" class="btn btn-primary" target="_blank">查看</a>
                    <a class="btn btn-danger" th:href="@{'/look?st_id='+*{st_id}}">删除</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div id="xuejiInputPage" style="margin-top: 50px;" class="hidden" align="center">
          <div style="background-color: white;width: 80%; height: 150px;">
            <p class="upload">导入身份证件信息：</p>
            <input type="file" name="file" id="file" style="margin-top: 20px;"/>
            <input type="button" value="导入" id="uploadFile" class="btn btn-primary" style="margin-top: 20px;"/>
          </div>
        </div>
        <div id="classInfoPage" style="margin-top: 50px;" class="hidden" align="center">
          <div style="background-color: white;width: 80%; height: 150px;">
            <p class="upload">导入成绩信息</p>
            <input type="file" name="classFile" id="classFile" style="margin-top: 20px;"/>
            <input type="button" value="导入" id="uploadClassFile" style="margin-top: 20px;" class="btn btn-primary"/>
          </div>
        </div>
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <strong>哈哈哈哈</strong>
    </footer>
  </div>
<!-- ./wrapper -->


<div class="modal fade" id="PunishAddFormal" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">惩罚添加</h4>
      </div>
      <div id="form2" class="form-horizontal">
        <div class="modal-body">
          <div class="form-group">
            <label for="newJiguan" class="col-sm-2 control-label">惩罚名称</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="addpunish_name" />
            </div>
          </div>
          <div class="form-group">
            <label for="newEmail" class="col-sm-2 control-label">惩罚措施</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="addpunish_result" />
            </div>
          </div>
          <div class="form-group">
            <label for="newTel" class="col-sm-2 control-label">惩罚对象（学号）</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="addpunish_st_id" />
            </div>
          </div>
          <div class="form-group">
            <label for="newTel" class="col-sm-2 control-label">惩罚下达<br/>时间</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="addpunish_time" />
            </div>
          </div>
          <div class="form-group">
            <label for="newEmail" class="col-sm-2 control-label">惩罚持续<br/>时间</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="addpunish_sc" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" id="AddPunishSure">添加</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>

<div class="modal fade" id="PasswordDefault" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">用户密码重置</h4>
      </div>
      <div id="form2" class="form-horizontal">
        <div class="modal-body">
          <div class="form-group">
            <label for="newJiguan" class="col-sm-2 control-label">学号（账号）</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="account_st_id" />
            </div>
          </div>
          <div class="form-group">
            <label for="newEmail" class="col-sm-2 control-label">管理员登录密码</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="account_password" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" id="accountDe">添加</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>
<script src="../assets/js/form/jquery-2.2.3.min.js"></script>
<script src="../assets/js/form/bootstrap.min.js"></script>
<script src="../assets/js/form/jquery.slimscroll.min.js"></script>
<script src="../assets/js/form/app.min.js"></script>
<script src="../assets/js/form/datatables/jquery.dataTables.min.js"></script>
<script src="../assets/js/form/datatables/dataTables.bootstrap.min.js"></script>
<script src="../assets/js/form/fastclick/fastclick.js"></script>
<script src="../assets/js/page/adminT.js"></script>
<script src="../assets/js/form/demo.js"></script>
<script src="../assets/js/form/chaos.js"></script>
<script>
  $(function () {
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });

    $("#Addpunish").click(function(){
      $("#PunishAddFormal").modal("show");
    });
    $("#accountDefault").click(function(){
      $("#PasswordDefault").modal("show");
    })


    $("#AddPunishSure").click(function(){
      var punish_name = $("#addpunish_name").val();
      var punish_result = $("#addpunish_result").val();
      var st_id = $("#addpunish_st_id").val();
      var punish_time = $("#addpunish_time").val();
      var punish_sc = $("#addpunish_sc").val();
      $.ajax({
        url: "/addPunish",
        type: "POST",
        data:{
            punish_name : punish_name,
            punish_result : punish_result,
            st_id : st_id,
            punish_time : punish_time,
            punish_sc : punish_sc,
            },
        success : function(msg){
          $('#PunishAddFormal').modal("hide");
          alert(msg);
        }
      })
    });

    $("#accountDe").click(function(){
      var st_id = $("#account_st_id").val();
      var account_password = $("#account_password").val();
      $.ajax({
        url: "/accountDefault",
        type: "POST",
        data:{
            st_id : st_id,
            account_password : account_password,
            },
        success : function(msg){
          $('#PunishAddFormal').modal("hide");
          alert(msg);
        }
      })
    });
  });


</script>
</body>
</html>
