<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>yimcarson</title>
        <style>
            body {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
            #main {
                text-align: center;
                position: absolute;
            }
        </style>
    </head>
    <body>
        <div id="main">
            <h3>Welcome <span th:text="${project}">wwwwdafa</span> -By <span th:text=" ${author}">wwww</span></h3>
            Your Verification Code is
            <h2><span th:text="${code}">fdsfaasdfjadkaf</span></h2>
        </div>
    </body>
</html>