<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>奖励管理</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../assets/css/form/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="../assets/css/form/AdminLTE.min.css">
  <link rel="stylesheet" href="../assets/css/form/dataTables.bootstrap.css">
  <link rel="stylesheet" href="../assets/css/form/_all-skins.min.css">
  <link rel="stylesheet" href="../assets/css/form/blue.css">
  <link rel="stylesheet" href="../assets/css/page/total.css">
  <link rel="stylesheet" href="../assets/css/page/admin.css">
  <script src="../assets/js/common.js"></script>
</head>
<body class="hold-transition skin-blue layout-boxed sidebar-mini" onload="hed2('奖励信息审阅','奖励信息审阅','主页');">
  <div class="wrapper">
    <header class="main-header">
      <!-- Logo -->
      <a href="/introduction" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>学籍管理系统</b></span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="../assets/img/customer/0000000002.jpg" class="user-image" alt="User Image">
                <span class="hidden-xs">Alexander Pierce</span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <img src="../assets/img/customer/0000000002.jpg" class="img-circle" alt="User Image">
                  <p>
                    Alexander Pierce
                  </p>
                  <small>Member since Nov. 2012</small>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                    <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <aside class="main-sidebar">
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <img src="../assets/img/customer/0000000002.jpg" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p>Alexander Pierce</p>
            <a href="javascript:void(0);"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>
      </section>
      <!-- /.sidebar -->
    </aside>
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header" id="sec">
      </section>
      <div class="content">
        <div class="box-body" id="main1">
          <table id="awardInfo" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>奖励名称</th>
              <th>奖励性质</th>
              <th>获奖时间</th>
              <th>奖励审阅情况</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
              <tr th:each="award:${awlist}" th:object="${award}">
                <td th:text="*{award_name}"></td>
                <td th:text="*{award_type}"></td>
                <td th:text="*{award_time}"></td>
                <td th:text="*{award_condition}" span th:style="'color:'+*{condition_css}"></td>
                <td>
                  <a class="btn btn-primary" th:if="*{award_condition} eq '未审阅'" th:href="@{/judgeAward(id=*{id})}">审阅</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <strong>哈哈哈哈</strong>
    </footer>
  </div>
<!-- ./wrapper -->
<script src="../assets/js/form/jquery-2.2.3.min.js"></script>
<script src="../assets/js/form/bootstrap.min.js"></script>
<script src="../assets/js/form/jquery.slimscroll.min.js"></script>
<script src="../assets/js/form/app.min.js"></script>
<script src="../assets/js/form/datatables/jquery.dataTables.min.js"></script>
<script src="../assets/js/form/datatables/dataTables.bootstrap.min.js"></script>
<script src="../assets/js/form/fastclick/fastclick.js"></script>
<script src="../assets/js/form/demo.js"></script>
<script src="../assets/js/form/chaos.js"></script>
<script>
  $(function () {
    $('#awardInfo').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>
</body>
</html>
