<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>欢迎登录学籍管理系统</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../assets/css/form/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="../assets/css/form/AdminLTE.min.css">
  <link rel="stylesheet" href="../assets/css/form/dataTables.bootstrap.css">
  <link rel="stylesheet" href="../assets/css/form/_all-skins.min.css">
  <link rel="stylesheet" href="../assets/css/form/blue.css">
  <link rel="stylesheet" href="../assets/css/page/total.css">
  <link rel="stylesheet" href="../assets/css/page/admin.css">
  <script src="../assets/js/common.js"></script>
</head>
<body class="hold-transition skin-blue layout-boxed sidebar-mini" onload="hed2('学生学籍信息','学生的学籍信息','返回');">
  <div class="wrapper">
    <header class="main-header">
      <!-- Logo -->
      <a href="/introduction" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>学籍管理系统</b></span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="../assets/img/customer/0000000002.jpg" class="user-image" alt="User Image">
                <span class="hidden-xs">Alexander Pierce</span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <img src="../assets/img/customer/0000000002.jpg" class="img-circle" alt="User Image">
                  <p>
                    Alexander Pierce
                  </p>
                  <small>Member since Nov. 2012</small>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                    <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <aside class="main-sidebar">
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <img src="../assets/img/customer/0000000002.jpg" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p>Alexander Pierce</p>
            <a href="javascript:void(0);"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>
      </section>
      <!-- /.sidebar -->
    </aside>
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header" id="sec">
      </section>
      <div class="content">
        <div id="xuejiSearch">
          <button class="btn btn-primary" id="updateStudent">修改信息</button>
          <table th:object="${student}">
            <tr>
              <td>姓名</td>
              <td th:text="${person.name}"></td>
              <td>所属学院</td>
              <td th:text="*{st_xueYuan}"></td>
            </tr>
            <tr>
              <td>年级</td>
              <td th:text="*{st_nianji}"></td>
              <td>班级</td>
              <td th:text="*{st_class}"></td>
            </tr>
            <tr>
              <td>学生类别</td>
              <td th:text="*{st_type}"></td>
              <td>培养方式</td>
              <td th:text="*{st_peiyangfangshi}"></td>
            </tr>
            <tr>
              <td>毕业去向</td>
              <td th:text="*{st_leave_to}"></td>
              <td>学籍状态</td>
              <td th:text="*{st_status}" th:style="'color:'+*{st_status_stiker}"></td>
            </tr>
            <tr>
              <td>学籍表单号</td>
              <td th:text="*{st_xuejibiao_number}"></td>
            </tr>
          </table>
        </div>
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <strong>哈哈哈哈</strong>
    </footer>
  </div>

  <div class="modal fade" id="StudentUpdateFormal" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">学籍信息修改</h4>
        </div>
        <div id="form2" class="form-horizontal" th:object="${student}">
          <div class="modal-body">
            <div class="form-group">
              <label for="newEmail" class="col-sm-2 control-label">所属学院</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="new_st_xueYuan" th:value="*{st_xueYuan}"/>
              </div>
            </div>
            <div class="form-group">
              <label for="newJiguan" class="col-sm-2 control-label">所属专业</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="new_st_zhuanye" th:value="*{st_zhuanye}" />
              </div>
            </div>
            <div class="form-group">
              <label for="newJiguan" class="col-sm-2 control-label">年级</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="new_st_nianji" th:value="*{st_nianji}" />
              </div>
            </div>
            <div class="form-group">
              <label for="newJiguan" class="col-sm-2 control-label">班级</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="new_st_class" th:value="*{st_class}" />
              </div>
            </div>
            <div class="form-group">
              <label for="newEmail" class="col-sm-2 control-label">毕业去向</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="new_leave_to" th:value="*{st_leave_to}"/>
              </div>
            </div>
            <div class="form-group">
              <label for="newEmail" class="col-sm-2 control-label">学籍状态</label>
              <div class="col-sm-9">
                <select id="new_status" style="width:100%;height:30px">
                  <option value="转出">转出</option>
                  <option value="休学">休学</option>
                  <option value="正常">正常</option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" id="accountDe">更改</a>
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
<!-- ./wrapper -->
<script src="../assets/js/form/jquery-2.2.3.min.js"></script>
<script src="../assets/js/form/bootstrap.min.js"></script>
<script src="../assets/js/form/jquery.slimscroll.min.js"></script>
<script src="../assets/js/form/app.min.js"></script>
<script src="../assets/js/form/datatables/jquery.dataTables.min.js"></script>
<script src="../assets/js/form/datatables/dataTables.bootstrap.min.js"></script>
<script src="../assets/js/form/fastclick/fastclick.js"></script>
<script src="../assets/js/form/demo.js"></script>
<script src="../assets/js/form/chaos.js"></script>
<script>
   $(function () {
    $("#updateStudent").click(function(){
      $("#StudentUpdateFormal").modal("show");
    })
   })
  
</script>
</body>
</html>
