<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="assets/css/form/bootstrap.min.css" />
		<link rel="stylesheet" href="assets/css/comon.css" />
		<link rel="stylesheet" href="assets/css/page/information.css" />
		<link rel="stylesheet" href="assets/css/form/AdminLTE.min.css" />
        <link rel="stylesheet" href="assets/css/form/_all-skins.min.css" />
        <link rel="stylesheet" href="assets/css/page/information.css" />
        <link rel="stylesheet" href="assets/css/page/index/featureCarousel.css" />
        <link rel="stylesheet" href="assets/css/page/index/index.css"/>
        <title></title>
    </head>
    <body>
        <header class="main-header">
            <a th:href="@{/introduction}" class="logo">
              <span class="logo-mini"><b>A</b>LT</span>
              <h3 th:text="${programeName}" class="logo-lg with-border"></h3>
            </a>
            <nav th:replace="common/common::navbar"></nav>
        </header>
        <div style="display: flex;">
        <div class="leftsection">
            <button value="">开始</button>
        </div>
        <div id="featureCarousel">
          <div class="feature"><a th:href="@{/writing}"><img alt="Image Caption" src="assets/img/testImage1.jpg"></a>
              <div>
                  <p>投稿活动开始了！！</p>
              </div>
          </div>
          <div class="feature"> <a href="#"><img alt="Image Caption" src="assets/img/testImage2.jpg"></a>
              <div>
                  <p> This is some information that can go along with an image.
                      Anything can be placed here, including images. </p>
              </div>
          </div>
          <div class="feature"> <a href="#"><img alt="Image Caption" src="assets/img/testImage3.jpg"></a>
              <div>
                  <p> This is some information that can go along with an image.
                      Anything can be placed here, including images. </p>
              </div>
          </div>
          <div class="feature"> <a href="#"><img alt="Image Caption" src="assets/img/testImage4.jpg"></a>
              <div>
                  <p> This is some information that can go along with an image.
                      Anything can be placed here, including images. </p>
              </div>
          </div>
          <div class="feature"> <a href="#"><img alt="Image Caption" src="assets/img/testImage5.jpg"></a>
              <div>
                  <p> This is some information that can go along with an image.
                      Anything can be placed here, including images. </p>
              </div>
          </div>
        </div>
        <div style="width:400px;height: 100%; background-color:black;">
            123
        </div>
        </div>
      <script type="text/javascript" src="assets/js/form/jquery-2.2.3.min.js" ></script>
      <script type="text/javascript" src="assets/js/form/bootstrap.min.js" ></script>
      <script type="text/javascript" src="assets/js/page/index/index.js"></script>
      <script type="text/javascript" src="assets/js/page/index/index2.js"></script>
      <script type="text/javascript" src="assets/js/form/chaos.js" ></script>
      <script type="text/javascript">
      $(document).ready(function() {
          $("#featureCarousel").featureCarousel({
              // include options like this:
              // (use quotes only for string values, and no trailing comma after last option)
              // option: value,
              // option: value
          });
      });
  </script>
    </body>
</html>