<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="assets/css/form/bootstrap.min.css" />
		<link rel="stylesheet" href="assets/css/comon.css" />
		<link rel="stylesheet" href="assets/css/page/information.css" />
		<link rel="stylesheet" href="assets/css/form/AdminLTE.min.css" />
    <link rel="stylesheet" href="assets/css/form/_all-skins.min.css" />
    <link rel="stylesheet" href="assets/css/page/information.css" />
		<title></title>
	</head>
	<body>
		<div class="wrapper">
  <header class="main-header">
    <a href="../../index2.html" class="logo">
      <span class="logo-mini"><b>A</b>LT</span>
      <h3 th:text="${programeName}" class="logo-lg with-border"></h3>
    </a>
    <nav th:replace="common/common::navbar"></nav>
  </header>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>个人信息</h1>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="assets/img/user2.jpg" alt="User">
              <h3 th:text="${name}" class="profile-username text-center"></h3>
              <p th:text="${identity_number}"class="text-muted text-center"></p>
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>年龄</b> <a th:text="${age}" class="pull-right"></a>
                </li>
                <li class="list-group-item">
                  <b>身份证号码</b> <a th:text="${id_number}" class="pull-right"></a>
                </li>
                <li class="list-group-item">
                  <b>电话</b><a class="pull-right">13324290533</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About Me</h3>
            </div>
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i> Education</strong>
              <p class="text-muted">
                B.S. in Computer Science from the University of Tennessee at Knoxville
              </p>
              <hr>
              <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
              <p class="text-muted">辽宁省 沈阳市	皇姑区 北陵小区 柴河街	15栋3楼1号</p>
              <hr>
              <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>
              <p>
                <span class="label label-danger">UI Design</span>
                <span class="label label-success">Coding</span>
                <span class="label label-info">Javascript</span>
                <span class="label label-warning">PHP</span>
                <span class="label label-primary">Node.js</span>
              </p>
              <hr>
              <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <p>个人信息详情页</p>
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
      </div>
    </section>
  </div>
</div>
		<script type="text/javascript" src="assets/js/form/jquery-2.2.3.min.js" ></script>
		<script type="text/javascript" src="assets/js/form/bootstrap.min.js" ></script>
		<script type="text/javascript" src="assets/js/form/chaos.js" ></script>
	</body>
</html>
