<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>登录</title>
		<link rel="stylesheet" href="assets/css/form/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/page/login.css">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	</head>
	<body>
		<div class="u-root">
			<div class="u-page u-page-home" id="u_layout_header_sidebar_basic">
				<div class="container-login p-100p">
					<div class="container-left">
						<div  th:replace="common/loginSection::loginTips"></div>
					</div>
					<div class="container-right">
						<center class="container login-title">
							<div><h2 class="title" th:text="${programeName}"></h2></div>
							<div class="m-40">
								<input type="text" class="form-control" placeholder="usercode" id="usercode" name="usercode"/>
							</div> 
							<div class="m-40">
								<input type="password" class="form-control" placeholder="password" id="password" name="password"/>
							</div>
							<div class="m-40">
								<input type="button" class="btn btn-primary btn-block" value="登录" />
							</div>
						</center>
					</div>
				</div>
			</div>
		</div>
		<div id="live2d-widget"><canvas id="live2dcanvas" width="300" height="600" style="position: fixed;opacity: 0.7;right: 0px;bottom: -20px;z-index: 99999;pointer-events: none;"></canvas></div>
		<script src="assets/js/form/jquery-2.2.3.min.js"></script>
		<script src="assets/js/form/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/live2d-widget@3.0.4/lib/L2Dwidget.min.js?_=1557308476616"></script>
		<script type="text/javascript">
			L2Dwidget.init();
		</script>
		<script src="assets/js/form/chaos.js"></script>
		<script src="assets/js/page/login.js"></script>
	</body>
</html>