<button class="btn btn-primary" id="AddAward">添加奖励</button>
<table id="AwardTable" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>奖励名称</th>
      <th>奖励性质</th>
      <th>获奖时间</th>
      <th>奖励审阅情况</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="award:${awlist}" th:object="${award}">
      <td th:text="*{award_name}"></td>
      <td th:text="*{award_type}"></td>
      <td th:text="*{award_time}"></td>
      <td th:text="*{award_condition}" span th:style="'color:'+*{condition_css}"></td>
      <td>
        <button class="btn btn-primary">浏览</button>
        <button th:if="*{award_condition} eq '未审阅'" class="btn btn-primary">更改</button>
      </td>
    </tr>
  </tbody>
</table>