<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Compose Message</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../assets/css/form/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/page/writing/fullcalendar.min.css">
  <link rel="stylesheet" href="../assets/css/page/writing/fullcalendar.print.css" media="print">
  <link rel="stylesheet" href="../assets/css/form/AdminLTE.min.css">
  <link rel="stylesheet" href="../assets/css/form/_all-skins.min.css">
  <link rel="stylesheet" href="../assets/css/form/blue.css">
  <link rel="stylesheet" href="../assets/css/form/bootstrap3-wysihtml5.min.css">
</head>
<body>
<div class="wrapper">
  <header class="main-header">
    <a th:href="@{/introduction}" class="logo">
      <span th:text="${programeName}" class="logo-lg"></span>
    </a>
    <nav th:replace="common/common::navbar"></nav>
  </header>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Article
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Mailbox</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <a href="mailbox.html" class="btn btn-primary btn-block margin-bottom">Back to Inbox</a>
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Folders</h3>
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked">
                <li><a href="mailbox.html"><i class="fa fa-inbox"></i> Inbox
                  <span class="label label-primary pull-right">12</span></a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> Sent</a></li>
                <li><a href="javascript:void(0);" id="changeToDraft"><i class="fa fa-file-text-o"></i>Drafts<span class="label label-warning pull-right" th:text="${count}"></span></a></li>
                <li><a href="#"><i class="fa fa-filter"></i> Junk <span class="label label-warning pull-right">65</span></a>
                </li>
                <li><a href="#"><i class="fa fa-trash-o"></i> Trash</a></li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9" id="writing_an_article">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Writing an Article</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="form-group">
                <input class="form-control" placeholder="title:" id="title">
              </div>
              <div class="form-group">
                <input class="form-control" readonly="true" th:value="${name}" id="author">
              </div>
              <div class="form-group">
                    <textarea id="compose-textarea" class="form-control" style="height: 300px">
                    </textarea>
              </div>
              <div class="form-group">
                <div class="btn btn-default btn-file">
                  <i class="fa fa-paperclip"></i> Attachment
                  <input type="file" name="attachment">
                </div>
                <p class="help-block">Max. 32MB</p>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <div class="pull-right">
                <button type="button" class="btn btn-default" id="saveDraft"><i class="fa fa-pencil"></i> Draft</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-envelope-o"></i>Save</button>
              </div>
              <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Discard</button>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /. box -->
        </div>
        <div class="col-md-9 hidden" id="draft">
          <h3 class="box-title">Draft</h3>
          <div class="box-tools pull-right">
            <div class="has-feedback">
              <input class="form-control input-sm" type="text" placeholder="Search Mail">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </div>
          <!-- /.box-tools -->
          <div class="box-body no-padding">
            <div class="mailbox-controls">
              <!-- Check all button -->
              <button class="btn btn-default btn-sm checkbox-toggle" type="button"><i class="fa fa-square-o"></i>
              </button>
              <div class="btn-group">
                <button class="btn btn-default btn-sm" type="button"><i class="fa fa-trash-o"></i></button>
                <button class="btn btn-default btn-sm" type="button"><i class="fa fa-reply"></i></button>
                <button class="btn btn-default btn-sm" type="button"><i class="fa fa-share"></i></button>
              </div>
              <!-- /.btn-group -->
              <button class="btn btn-default btn-sm" type="button"><i class="fa fa-refresh"></i></button>
              <div class="pull-right">
                1-50/200
                <div class="btn-group">
                  <button class="btn btn-default btn-sm" type="button"><i class="fa fa-chevron-left"></i></button>
                  <button class="btn btn-default btn-sm" type="button"><i class="fa fa-chevron-right"></i></button>
                </div>
                <!-- /.btn-group -->
              </div>
              <!-- /.pull-right -->
            </div>
            <div class="table-responsive mailbox-messages">
              <table class="table table-hover table-striped">
                <tbody>
                <tr th:each="draft:${resultlist}">
                  <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input style="position: absolute; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins></div></td>
                  <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                  <td class="mailbox-name"><a href="read-mail.html" th:text="${draft.draft_title}">Alexander Pierce</a></td>
                  <td class="mailbox-subject"><b th:text="${draft.draft_title}"></b> - Trying to find a solution to this problem...
                  </td>
                  <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                  <td class="mailbox-date">28 mins ago</td>
                </tr>
                </tbody>
              </table>
              <!-- /.table -->
              <div class="box-footer no-padding">
                <div class="mailbox-controls">
                  <!-- Check all button -->
                  <button class="btn btn-default btn-sm checkbox-toggle" type="button"><i class="fa fa-square-o"></i>
                  </button>
                  <div class="btn-group">
                    <button class="btn btn-default btn-sm" type="button"><i class="fa fa-trash-o"></i></button>
                    <button class="btn btn-default btn-sm" type="button"><i class="fa fa-reply"></i></button>
                    <button class="btn btn-default btn-sm" type="button"><i class="fa fa-share"></i></button>
                  </div>
                  <!-- /.btn-group -->
                  <button class="btn btn-default btn-sm" type="button"><i class="fa fa-refresh"></i></button>
                  <div class="pull-right">
                    1-50/200
                    <div class="btn-group">
                      <button class="btn btn-default btn-sm" type="button"><i class="fa fa-chevron-left"></i></button>
                      <button class="btn btn-default btn-sm" type="button"><i class="fa fa-chevron-right"></i></button>
                    </div>
                    <!-- /.btn-group -->
                  </div>
                  <!-- /.pull-right -->
                </div>
              </div>
            </div>
            <!-- /.mail-box-messages -->
          </div>
          
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <div class="control-sidebar-bg"></div>
</div>
<script src="../assets/js/form/jquery-2.2.3.min.js"></script>
<script src="../assets/js/form/bootstrap.min.js"></script>
<script src="../assets/js/form/jquery.slimscroll.min.js"></script>
<script src="../assets/js/form/fastclick/fastclick.js"></script>
<script src="../assets/js/form/app.min.js"></script>
<script src="../assets/js/form/demo.js"></script>
<script src="../assets/js/form/icheck.min.js"></script>
<script src="../assets/js/form/bootstrap3-wysihtml5.all.min.js"></script>
<script src="../assets/js/page/writing.js"></script>
<script>
  $(function () {
    //Add text editor
    $("#compose-textarea").wysihtml5();
  });
</script>
</body>
</html>
